@mixin footer-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  display: block;
  text-transform: uppercase;
}

.footer {
  margin-top: 100px;
  background-color: #111111;
  &__container {
    display: flex;
    padding: 140px 60px;
  }
  &__brand {
    flex-basis: 30%;
  }
  &__logo {
    width: 50px;
  }
  .kajabi-logo {
    @include logo-light;
  }
  &__nav {
    display: flex;
    flex-basis: 70%;
    justify-content: space-between;
  }
  &__section {
    flex-basis: 17%;
  }
  &__title {
    @include footer-text;
    margin-bottom: 25px;
    color: #ffffff;
  }
  &__link {
    @include footer-text;
    margin-bottom: 12px;
    text-decoration: none;
    letter-spacing: -0.25px;
    color: #777777;
  }
}
@media (max-width: $md-max) {
  .footer {
    &__container {
      display: block;
      padding: 100px 20px 60px;
    }
    &__brand {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: $sm-max) {
  .footer {
    &__nav {
      display: block;
      flex-basis: auto;
    }
    &__section {
      display: block;
      flex-basis: auto;
      width: 50%;
      margin-bottom: 40px;
    }
    &__section:last-child {
      margin-bottom: 0;
    }
  }
}
