.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  &__container {
    display: flex;
    padding: 20px 60px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__middle {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 200px;
    height: 34px;
  }
  .kajabi-logo {
    @include logo-light;
  }
  &__btn {
    float: right;
  }
  &__link {
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.header--fixed {
  position: fixed;
  background-color: #ffffff;
  .kajabi-logo {
    @include logo-default;
  }
  .header__link {
    color: #000000;
  }
  .header__btn {
    @include btn-inverted-styles;
  }
}
