.hero {
  width: 100%;
  height: calc(100vh - 200px);
  background-color: $color-light;
  &__image-container {
    overflow: hidden;
  }
  &__container {
    max-width: 2200px;
    padding-right: 60px;
    padding-left: 60px;
  }
  &__text-container {
    max-width: 960px;
  }
  &__niche {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__title {
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    color: #ffffff;
  }
}
